.title{margin-top:25px;border-bottom:1px solid #ccc;padding-bottom:5px;}
.title .size28{font-size:28px;margin-right:15px;text-shadow:0px 2px 0px #D1D1D1;font-weight:bold;}
.title .lianjie{font-size:12px;color:#999;}
.bg-left{background: url('../../images/box_bj.png') left top repeat-y;margin-top:30px;}
.left-nav{padding-top:5px;width:194px;}
.left-nav ul li{line-height:29px;height:29px;padding-left:25px;background: url('../../images/sidelibg.png') left top no-repeat;}
.left-nav ul .btn{background: url('../../images/sideicon.png') left top no-repeat;}
.left-nav ul .btn a{color:#fff;}
.left-nav ul li a{color:#005BAC;font-size:14px;}
/*下面右边布局 热招职位*/
.right-nav{width:750px;}
.right-nav h1{color:#333;font-size:16px;line-height:30px;font-weight:bold;}
.right-nav h2{font-size:14px;font-weight:bold;color:#005BAC;}
.right-nav .con{width:750px;border:1px solid #ccc;border-bottom:none;}
.right-nav .con .warp{padding:10px 50px;background: url("../../images/box_bj.png");border-bottom:1px solid #ccc;}
.right-nav .con .warp ul li{float:left;width:300px;margin-left:5px;padding-left:8px;background: url('../../images/dot2.gif') left no-repeat;}
.right-nav .con .warp .job{border-bottom:1px solid #ccc;line-height:30px;margin-top:10px;}
.right-nav .con .warp .job:hover{border-bottom:1px #005BAC solid;color:#005BAC;}
.right-nav .con .warp #soso{border-bottom:1px solid #ccc;}
.con .warp #two span{cursor: pointer;margin-left:20%;width:200px;line-height:30px;border:1px solid #fff;background-color: #005BAC; display:block;font-size:16px;font-weight:bold;color:#FFF;}
.center{text-align:center;}

