#top{background:url('../images/TOP.png');width:80px;height:150px;cursor: pointer;position: absolute;position: fixed;bottom:0;right:200px;}
#ihonelist .pubu{padding:5px;border:1px solid #808080; float:left;margin-bottom:10px;width:300px;text-align:center;}
#ihonelist .pubu img{border:0px;}
#ihonelist .pubu p{font-size:14px;width:300px;}
#ihonelist .pubu .date-right{text-align:right;color:#808080;}