#soso{width:100%;text-align:center;margin-bottom:10px;}
#soso .btn{background-color:#005bac;color:#fff;cursor: pointer;padding:3px 30px;}
#soso .btn:hover{background-color:#9ac7f8;border:1px solid #005bac;color:#005bac;}
#soso select{font-size:16px;}
#soso input{font-size:16px;}
#ihonelist{border:1px solid #005bac;}
#ihonelist .title{background-color:#005bac;color:#fff;}
#ihonelist tr td{border-top:1px solid #808080;padding:5px;}
#ihonelist tr:hover{background-color:#005bac;color:#fff;cursor:pointer;}